<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta
      name="description"
      content="An app for learning about status codes!"
    />
    <meta
      name="og:description"
      content="An app for learning about status codes!"
    />
    <meta property="og:title" content="HTTP Keanu ({{{status}}} {{{name}}})" />
    <meta property="og:image" content="{{{img}}}" />

    <title>HTTP Keanu ({{{status}}} {{{name}}})</title>

    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        <h1><a href="/">HTTP Keanu</a></h1>
        <p class="intro">
          A fun way to learn about status codes, inspired by
          <a href="https://http.cat">http.cat</a>!
        </p>
        <p class="random">
          🎲
          <a href="/">Choose a random code</a>
        </p>
        <p><em>This is a copy of the original homepage for posterity...</em></p>

        <div class="codes">
          {{#if selected}}
            <div class="highlight selected" id="code{{{code}}}">

              <h2>{{code}}</h2>
              <h3>{{name}}</h3>
              <div class="imghold">
                <img src="{{pic}}" alt="{{alt}}" />
              </div>

              <div class="extra">
                <p>{{info}}</p>
                {{#if joker}}
                  <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/"
                  >HTTP status codes on MDN</a>
                {{else}}
                  <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{{code}}}"
                  >{{code}} on MDN</a>
                {{/if}}
              </div>
            </div>
          {{else}}
            {{#each settings.list}}
              <div class="code" id="code{{{code}}}">

                <h2>{{code}}</h2>
                <h3>{{name}}</h3>
                <div class="imghold">
                  <a href="/"><img
                      src="{{pic}}"
                      alt="{{alt}}" 
                    /></a>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
        <p id="bonus">
          Bonus: try selecting an invalid code, like
          <a href="/">1000</a>
        </p>
      </div>
      <footer class="footer">
        <a
          class="btn--remix"
          target="_top"
          href="https://glitch.com/edit/#!/remix/httpkeanu"
        >
          <img
            src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
            alt=""
          />
          Remix on Glitch
        </a>
      </footer>
    </div>

  </body>
</html>